<div class="footer">
  <div class="policy">
    Follow us on 
    <a href="https://www.facebook.com/games/saiy_ai/" target="_blank"><img class="smicon" src="images/facebook.svg"></a> 
    <a href="https://twitter.com/brandall76" target="_blank"><img class="smicon" src="images/twitter.svg"></a> 
    <a href="https://plus.google.com/100131487913427971091" target="_blank"><img class="smicon" src="images/google-plus.svg"></a> 
    <a href="https://uk.linkedin.com/in/benrandall76" target="_blank"><img class="smicon" src="images/linkedin.svg"></a> 
    <a href="https://github.com/brandall76/Saiy-PS" target="_blank"><img class="smicon" src="images/github.svg"></a> 
    <a href="https://play.google.com/store/apps/details?id=ai.saiy.android" target="_blank"><img class="smicon" src="images/playstore.svg"></a> 
    <br>
    Saiy is a Registered Trademark of Saiy Inc 2017-2018. All rights reserved. <a href="privacy">Privacy Policy</a> & <a href="terms">Terms of Use</a>
  </div>
</div>