<div class="menu">
  <div class="nav_bar">
    <h1 style="float:left;">
      <img class="logo" src="images/saiy_full.svg">
    </h1>
    <div class="nav_link">
      <a href="/" class="navw{{navHome}}">Home</a>
      <a href="features" class="navw{{navFeatures}}">Features</a>
      <a href="contact" class="navw{{navContact}}">Contact</a>
    </div>
  </div>
</div>