<html>
  <head>
    {{> head}}
  </head>
  <body>
    <div class="my_container">
      {{> nav}}
      <div class="main_content">
        {{html mainContent}}
        </center>
      </div>
      {{> footer}}
    </div>
  </body>
</html>