<html>
  <head>
    {{> head}}
  </head>
  <body>
    {{> nav}}
    <div class="my_container">
      <div class="main_content">
        {{html mainContent}}
      </div>
      {{> footer}}
    </div>
  </body>
</html>